<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223295734673-1o96nfn6nh1b1ifb6cp729lqben5osjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223295734673-1o96nfn6nh1b1ifb6cp729lqben5osjr</string>
	<key>API_KEY</key>
	<string>AIzaSyBC_COYMSn1g1J4nMXjLv2_zk7G5icNm1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>223295734673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schema</string>
	<key>PROJECT_ID</key>
	<string>schema-93d2f</string>
	<key>STORAGE_BUCKET</key>
	<string>schema-93d2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223295734673:ios:cb0e30db3e6b308212d030</string>
</dict>
</plist>